@page "/Families"
@using FamiliesManager.Data
@using Models
@inject IFamiliesService FamiliesService
@inject NavigationManager NavigationManager

<h3>Families</h3>
<p>
Select Family Id: <input type="number" @oninput="@(SetFamilyId)" style="width:50px"/>
</p>

<div style="margin-bottom: 10px">
<Button class="btn btn-outline-dark" disabled="@disabled" Clicked="@(() => ViewFamily(familyId))">View</Button>

<Button class="btn btn-outline-dark" Clicked="@(AddFamily)">Add</Button>

<Button class="btn btn-outline-dark" disabled="@disabled" Clicked="@(() => EditFamily(familyId))">Edit</Button>

<Button class="btn btn-outline-dark" disabled="@disabled" Clicked="@(() => RemoveFamily(familyId))">Remove</Button>
</div>
<Row>
    @foreach (var f in families)
    {
        <Column ColumnSize="ColumnSize.Is12.OnTablet.Is12.OnMobile.Is3.OnDesktop.Is3.OnWidescreen.Is3.OnFullHD">
            <Card>
                <CardBody>
                    <CardTitle Size="5">Family ID: @f.Id</CardTitle>
                    <CardText>
                        <ul>
                            <li><b>Address</b>: @f.StreetName @f.HouseNumber</li>
                            <li><b>Adults</b>: @f.Adults.Count</li>
                            <li><b>Children</b>: @f.Children.Count</li>
                            <li><b>Pets</b>: @f.Pets.Count</li>
                        </ul>
                    </CardText>

                </CardBody>
            </Card>
        </Column>
    }
</Row>


@code {

    IList<Family> families = new List<Family>();
    private int? familyId;
    private bool disabled = true;
    private IList<int> familyIds = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        families = await FamiliesService.GetFamiliesAsync();
        SetIds();
    }
    
    private void SetIds()
    {
        familyIds.Clear();

        foreach (var a in families)
        {
            familyIds.Add(a.Id);
        }
        
    }

    private void ViewFamily(int? id)
    {
        NavigationManager.NavigateTo($"/ViewFamily/{id}");
    }

    private void AddFamily()
    {
        NavigationManager.NavigateTo($"/AddFamily");
    }

    private void EditFamily(int? id)
    {
        NavigationManager.NavigateTo($"EditFamily/{id}");
    }

    private async Task RemoveFamily(int? id)
    {
        families.Remove(families.First(f => f.Id == id));
        await FamiliesService.RemoveFamilyAsync(id);
        SetIds();
        
    }

    private void SetFamilyId(ChangeEventArgs changeEventArgs)
    {
        familyId = null;
        if (familyId is null)
        {
            disabled = true;
        }

        try
        {
            familyId = int.Parse(changeEventArgs.Value.ToString());
            disabled = !familyIds.Contains((int) familyId);
        }
        catch (Exception e)
        {
        }
    }
}